// Variable overrides

$PRIMARY_COLOR: #1E00C0;
$SECONDARY_COLOR: #313979;
$APP_COLOR: #00C4FF;

$RUBIK: 'Rubik', Fallback, sans-serif;
$NUNITO: 'Nunito', sans-serif;

$RUBIK_LIGHT: 300;
$RUBIK_REGULAR: 400;
$RUBIK_MEDIUM: 500;
$RUBIK_BOLD: 700;

$NUNITO_EXTRALIGHT: 200;
$NUNITO_LIGHT: 300;
$NUNITO_REGULAR: 400;
$NUNITO_SEMIBOLD: 600;
$NUNITO_BOLD: 700;
$NUNITO_EXTRABOLD: 800;

$TEXT_DARK: #333;
$TEXT_AVG: #777;
$TEXT_LIGHT: #aaa;

$GREEN: #00A156;
$RED: #E55039;
$BLUE: #0984e3;

$TRANSITION_SPEED: 0.25s;
$TRANSITION_SPEED_SLOW: 0.5s;
$TRANSITION_SPEED_FAST: 0.15s;
